ai-ugc-video-ad-generator.json
{
    "name": "UGC AD Generator AI Agent",
    "nodes": [
        {
            "parameters": [],
            "type": "@n8n\/n8n-nodes-langchain.toolThink",
            "typeVersion": 1,
            "position": [
                7808,
                4160
            ],
            "id": "6e9f731e-bcf7-414f-b31a-6cdad4d6b173",
            "name": "Think1"
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "value": "gpt-4.1",
                    "mode": "list",
                    "cachedResultName": "gpt-4.1"
                },
                "options": []
            },
            "type": "@n8n\/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1.1999999999999999555910790149937383830547332763671875,
            "position": [
                7712,
                4208
            ],
            "id": "e7067754-6182-482b-8ae7-956ba4d4bd00",
            "name": "GPT1",
            "credentials": {
                "openAiApi": {
                    "id": "k1Ngwqspdd6ZbU7j",
                    "name": "OpenAi account"
                }
            }
        },
        {
            "parameters": {
                "fieldToSplitOut": "output.scenes",
                "options": []
            },
            "type": "n8n-nodes-base.splitOut",
            "typeVersion": 1,
            "position": [
                8032,
                4016
            ],
            "id": "da8b8a8d-018b-4c2a-acdd-cc61eae17b67",
            "name": "Split Out1"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https:\/\/api.kie.ai\/api\/v1\/veo\/generate",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer <API>"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application\/json"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "raw",
                "rawContentType": "application\/json",
                "body": "={\n  \"prompt\":\"{{ $('Split Out1').item.json.video_prompt\n    .replace(\/n\/g, '\\n')\n    .replace(\/\"\/g, '\\\"') }}\",\n  \"model\": \"{{ $('Split Out1').item.json.model }}\",\n  \"aspectRatio\": \"{{ $('Split Out1').item.json.aspect_ratio_video }}\",\n  \"imageUrls\": \"{{ $('Get Image1').first().json.data.response.resultUrls[0] }}\"\n}\n",
                "options": {
                    "batching": {
                        "batch": {
                            "batchSize": 1,
                            "batchInterval": 3000
                        }
                    }
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.20000000000000017763568394002504646778106689453125,
            "position": [
                7856,
                3504
            ],
            "id": "690cb04a-769e-4a73-ad67-4ffd62088251",
            "name": "Create Video1"
        },
        {
            "parameters": {
                "url": "=https:\/\/api.kie.ai\/api\/v1\/veo\/record-info",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "taskId",
                            "value": "={{ $('Create Video1').item.json.data.taskId }}"
                        }
                    ]
                },
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer <API>"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application\/json"
                        }
                    ]
                },
                "options": []
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.20000000000000017763568394002504646778106689453125,
            "position": [
                7856,
                3760
            ],
            "id": "84a6120a-169a-4b5e-a23d-012ad555ce11",
            "name": "Get Video1"
        },
        {
            "parameters": {
                "amount": 200
            },
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.100000000000000088817841970012523233890533447265625,
            "position": [
                7856,
                3632
            ],
            "id": "af5a62f1-c311-4125-9ed3-fc41ddd0ba65",
            "name": "Wait ",
            "webhookId": "98a829fa-aa5d-451d-8ca7-7d48456636ec"
        },
        {
            "parameters": {
                "amount": 60
            },
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.100000000000000088817841970012523233890533447265625,
            "position": [
                7456,
                3632
            ],
            "id": "a5cdb63c-036f-43fd-a2c4-37b3c4c0ff95",
            "name": "Wait 4",
            "webhookId": "dd1ae21c-d2bc-47de-91d3-f2bb9d6648f8"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "4c895d90-e8bd-42cf-ab58-511c85e8c782",
                            "leftValue": "={{ $json.data.successFlag }}",
                            "rightValue": 1,
                            "operator": {
                                "type": "number",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": []
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.20000000000000017763568394002504646778106689453125,
            "position": [
                7456,
                3888
            ],
            "id": "a0be6117-b029-44a8-a26a-0829fd0f1e46",
            "name": "If 1"
        },
        {
            "parameters": {
                "fieldsToAggregate": {
                    "fieldToAggregate": [
                        {
                            "fieldToAggregate": "data.response.resultUrls[0]"
                        }
                    ]
                },
                "options": []
            },
            "type": "n8n-nodes-base.aggregate",
            "typeVersion": 1,
            "position": [
                8256,
                4016
            ],
            "id": "76232502-80c8-4112-9c4b-532902eb9de2",
            "name": "Aggregate1"
        },
        {
            "parameters": {
                "amount": 60
            },
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.100000000000000088817841970012523233890533447265625,
            "position": [
                8256,
                3632
            ],
            "id": "0ed305ba-732c-451b-aa1d-dad39aa917e8",
            "name": "Wait1",
            "webhookId": "982727e9-9948-4d33-b682-9907e053efb0"
        },
        {
            "parameters": {
                "content": "# Step 1:\n## Single Image",
                "height": 224,
                "width": 224,
                "color": 7
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                7392,
                3344
            ],
            "id": "06970c33-66a2-4724-8bf9-79c20e1b6f26",
            "name": "Sticky Note4"
        },
        {
            "parameters": {
                "content": "# Step 2:\n## Multiple Clips",
                "height": 224,
                "width": 224,
                "color": 7
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                7792,
                3344
            ],
            "id": "52a140e0-639d-40db-b983-3cb0922cd3e3",
            "name": "Sticky Note5"
        },
        {
            "parameters": {
                "content": "# Step 3:\n## Combine Video",
                "height": 224,
                "width": 224,
                "color": 7
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                8192,
                3344
            ],
            "id": "dc34a566-27b8-479d-b31d-2138b99e4c0b",
            "name": "Sticky Note9"
        },
        {
            "parameters": {
                "resource": "image",
                "operation": "analyze",
                "modelId": {
                    "__rl": true,
                    "value": "chatgpt-4o-latest",
                    "mode": "list",
                    "cachedResultName": "CHATGPT-4O-LATEST"
                },
                "text": "Analyze the given image and determine if it primarily depicts a product or a character, or BOTH.\n\n- If the image is of a product, return the analysis in YAML format with the following fields:\n\nbrand_name: (Name of the brand shown in the image, if visible or inferable)\ncolor_scheme:\n  - hex: (Hex code of each prominent color used)\n    name: (Descriptive name of the color)\nfont_style: (Describe the font family or style used: serif\/sans-serif, bold\/thin, etc.)\nvisual_description: (A full sentence or two summarizing what is seen in the image, ignoring the background)\n\n- If the image is of a character, return the analysis in YAML format with the following fields:\n\ncharacter_name: (Name of the character if visible or inferable)\ncolor_scheme:\n  - hex: (Hex code of each prominent color used on the character)\n    name: (Descriptive name of the color)\noutfit_style: (Description of clothing style, accessories, or notable features)\nvisual_description: (A full sentence or two summarizing what the character looks like, ignoring the background)\n\nOnly return the YAML. Do not explain or add any other comments.\n\n\n- if it is BOTH, return both descriptions as guided above in YAML format\n",
                "imageUrls": "={{ $json.data.outputs[0] }}",
                "simplify": false,
                "options": []
            },
            "type": "@n8n\/n8n-nodes-langchain.openAi",
            "typeVersion": 1.8000000000000000444089209850062616169452667236328125,
            "position": [
                7264,
                4016
            ],
            "id": "c97a7808-b441-48c5-9f6b-91b2fdcb7289",
            "name": "Describe Img1",
            "credentials": {
                "openAiApi": {
                    "id": "k1Ngwqspdd6ZbU7j",
                    "name": "OpenAi account"
                }
            }
        },
        {
            "parameters": {
                "jsonSchemaExample": "{\n  \"scenes\": [\n    {\n      \"video_prompt\": \"dialogue: ...naction: ...ncamera: ...nemotion: ...nvoice_type: ...ncharacter: ...nsetting: ...\",\n      \"aspect_ratio_video\": \"9:16\",\n      \"model\": \"veo3_fast\"\n    }\n  ]\n}\n",
                "autoFix": true
            },
            "type": "@n8n\/n8n-nodes-langchain.outputParserStructured",
            "typeVersion": 1.3000000000000000444089209850062616169452667236328125,
            "position": [
                7920,
                4160
            ],
            "id": "83b0f96b-1866-4f89-89c9-442a0abf0e80",
            "name": "Structured Output "
        },
        {
            "parameters": {
                "jsonSchemaExample": "{\n  \"image_prompt\": \"emotion: ...naction: ...ncharacter: ...nproduct: ...nsetting: ...ncamera: ...nstyle: ...ncomposition: ...nlighting: ...ncolor_palette: ...ntypography: ...ntext_accuracy: ...\",\n  \"aspect_ratio_image\": \"2:3\"\n}\n",
                "autoFix": true
            },
            "type": "@n8n\/n8n-nodes-langchain.outputParserStructured",
            "typeVersion": 1.3000000000000000444089209850062616169452667236328125,
            "position": [
                7424,
                4160
            ],
            "id": "7d20f729-1ee7-4184-a6be-f4aa8b2de66e",
            "name": "Structured Output 3"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https:\/\/api.kie.ai\/api\/v1\/gpt4o-image\/generate",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer <API>"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application\/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"filesUrl\": [\"{{ $('HTTP Request1').item.json.data.outputs[0] }}\"],\n\"prompt\": \"{{ $json.output.image_prompt.replace(\/\"\/g, '\\\"').replace(\/n\/g, '\\n') }}\",\n  \"size\": \"{{ $json.output.aspect_ratio_image }}\",\n  \"nVariants\": 1\n}\n\n",
                "options": []
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.20000000000000017763568394002504646778106689453125,
            "position": [
                7456,
                3504
            ],
            "id": "66ed8fee-a81e-44ae-b4ce-92e40389d7d8",
            "name": "Create Image1"
        },
        {
            "parameters": {
                "url": "=https:\/\/api.kie.ai\/api\/v1\/gpt4o-image\/record-info",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "taskId",
                            "value": "={{ $json.data.taskId }}"
                        }
                    ]
                },
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer <API>"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application\/json"
                        }
                    ]
                },
                "options": []
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.20000000000000017763568394002504646778106689453125,
            "position": [
                7456,
                3760
            ],
            "id": "7475381a-4eb2-4637-838c-49467cf0c151",
            "name": "Get Image1"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https:\/\/queue.fal.run\/fal-ai\/ffmpeg-api\/merge-videos",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Key <your API>"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application\/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"video_urls\": [{{ $json.resultUrls[0].map(url => `\"${url}\"`) }}]\n}\n",
                "options": []
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.20000000000000017763568394002504646778106689453125,
            "position": [
                8256,
                3504
            ],
            "id": "84b81301-0ad5-4214-863f-27dfe5eb2b5c",
            "name": "Combine Clips1"
        },
        {
            "parameters": {
                "url": "={{ $('Combine Clips1').first().json.response_url }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Key <your API>"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application\/json"
                        }
                    ]
                },
                "options": []
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.20000000000000017763568394002504646778106689453125,
            "position": [
                8256,
                3760
            ],
            "id": "3677a418-2635-4833-ae60-1821045ce895",
            "name": "Get Final Video1"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "4c895d90-e8bd-42cf-ab58-511c85e8c782",
                            "leftValue": "={{ $json.video.url }}",
                            "rightValue": 1,
                            "operator": {
                                "type": "string",
                                "operation": "notEmpty",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": []
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.20000000000000017763568394002504646778106689453125,
            "position": [
                8256,
                3888
            ],
            "id": "1d5b77df-d4a6-42a7-b334-74c92407ed1b",
            "name": "If 3"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=Your task: Create 1 image prompt as guided by your system guidelines.\n\nMake sure that the reference image is depicted as ACCURATELY as possible in the resulting images, especially all text.\n\n***\n\n\nThese are the user's instructions\n{{ $(\"Code2\").first().json.ugcInstruction }}\n***\nDescription of the reference image:\n{{ $json.choices[0].message.content }}\n\n***\nThe user's preferred aspect ratio: inferred based on their message above, default is vertical if not given\n\n\n\n***\nUse the Think tool to double check your output\n",
                "hasOutputParser": true,
                "options": {
                    "systemMessage": "=system_prompt: |\n  ## SYSTEM PROMPT:  Image Prompt Generator\nDefault: If the user's instructions are not very detailed, just default the prompt to: put this (product) into the scene with the (character). \n*\nIf the user wants UGC authentic casual content: Use casual UGC-style scenes unless the user specifies otherwise, and follow the instructions below.\n  If the user explicitly requests a different style or setting, follow their instructions.\n  Your task: Take the reference image or the product in the reference image and place it into realistic, casual scenes as if captured by everyday content creators or influencers.  \n  All outputs must feel natural, candid, and unpolished — avoiding professional or overly staged looks. This means:\n    - Everyday realism with authentic, relatable settings\n    - Amateur-quality iPhone photo style\n    - Slightly imperfect framing and lighting\n    - Candid poses and genuine expressions\n    - Visible imperfections (blemishes, messy hair, uneven skin, texture flaws)\n    - Real-world environments left as-is (clutter, busy backgrounds)\n    - Always preserve all visible product text accurately (logos, slogans, packaging claims). Never invent extra claims or numbers.\n  Camera parameter must always include casual realism descriptors such as:  \n  unremarkable amateur iPhone photos, reddit image, snapchat photo, Casual iPhone selfie, slightly uneven framing, Authentic share, slightly blurry, Amateur quality phone photo\n  Dialogue\/video generation is not required. Only image prompts are generated.\nAvoid mentioning the name of any copyrighted characters in the prompt\n  ---\n  A – Ask:\n    Generate image generation instructions only for AI models based on the user’s request, ensuring exact YAML format.  \n    Default to vertical aspect ratio if unspecified.  \n    Always include both:\n      - image_prompt (stringified YAML with scene details)  \n      - aspect_ratio_image (\"3:2\" or \"2:3\")  \n  ---\n  G – Guidance:\n    - Always follow UGC-style casual realism principles listed above.\n    - Ensure diversity in gender, ethnicity, and hair color when applicable. Default to actors in 21 to 38 years old unless specified otherwise.\n    - Default to casual real-world environments unless a setting is explicitly specified.\n    - Avoid double quotes in the image prompts.\n  ---\n  E – Examples:\n    🟢 good_examples:\n      - |\n        {\n          \"scenes\": [\n            {\n              \"image_prompt\": \"action: character holds product naturallyncharacter: infer from the reference imagenproduct: show product with all visible text clear and accuratensetting: infer from the image or from user instructionncamera: amateur iPhone photo, casual selfie, uneven framing, slightly blurrynstyle: candid UGC look, no filters, imperfections intactntext_accuracy: preserve all visible text exactly as in reference image\"}]\n,\n              \"aspect_ratio_image\": \"2:3\"\n            }\n          ]\n        }\n    🔴 bad_examples:\n      - Altering or fabricating product packaging text\n  ---\n  N – Notation:\n    - Final output is an object containing only:\n      - image_prompt → stringified YAMLy\n      - aspect_ratio_image → \"3:2\" or \"2:3\" (default vertical → 2:3)\n  ---\n  T – Tools:\n    - Think Tool: Double-check output for completeness, text accuracy, adherence to UGC realism, and that only image outputs** are returned."
                }
            },
            "type": "@n8n\/n8n-nodes-langchain.agent",
            "typeVersion": 2,
            "position": [
                7440,
                4016
            ],
            "id": "456ab420-9523-49b1-a656-658a8169a79b",
            "name": "Generate Image"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=Your task: Create video prompts as guided by your system guidelines.\n\nMake sure that the reference image is depicted as ACCURATELY as possible in the resulting images, especially all text.\n\nFor each of the scenes, make sure the dialogue runs continuously and makes sense. And always have the character just talk about the product and its benefits based on what you understand about the brand, and how it's used. So if it's a drink, talk about the taste; if it's a bag, talk about the design; if it's tech, talk about its features, and so on.\n\nIf the character will mention the brand name, only do so in the FIRST scene.\n\nUnless stated by the user, do not have the character open or eat or use the product. they are just showing it to the camera.\n\nIf the number of videos is not stated, generate 1 scene.\n\n***\n\nThese are the user's instructions\n{{ $(\"Code2\").first().json.ugcInstruction }}\n***\n\nCount of videos to create: inferred based on their message above. Each video will be 8 seconds long, so calculate how many videos you need to generate based on the user's desired total duration\n\n***\nDescription of the reference image\/s. Just use this to understand who the product or character is, don't use it as basis for the dialogue.\n{{ $('Describe Img1').first().json.choices[0].message.content }}\n\n\n***\nThe user's preferred aspect ratio: inferred based on their message above, default is vertical if not given\n\nThe user's preferred model: inferred based on their message above, default is veo3_fast if not given\n\nThe user's preferred dialogue script: inferred based on their message above, suggest a script \n\n\n***\nUse the Think tool to double check your output\n",
                "hasOutputParser": true,
                "options": {
                    "systemMessage": "=system_prompt: |\n  ## SYSTEM PROMPT: UGC-Style Veo3\/Veo3_fast Prompt Generator (Video-Only)\n\n  You are a UGC (User-Generated Content) AI agent.  \n  Your task: Take the reference image or the product in the reference image and place it into realistic, casual scenes as if captured by everyday content creators or influencers.  \n\n  All outputs must feel **natural, candid, and unpolished** — avoiding professional or overly staged looks. This means:\n\n    - Everyday realism with authentic, relatable settings\n    - Amateur-quality iPhone photo\/video style\n    - Slightly imperfect framing and lighting\n    - Candid poses and genuine expressions\n    - Visible imperfections (blemishes, messy hair, uneven skin)\n    - Real-world environments left as-is (clutter, busy backgrounds)\n\n  We need these videos to look natural and real. So in the prompts, have the Camera parameter always use keywords like these: unremarkable amateur iPhone photos, reddit image, snapchat video, Casual iPhone selfie, slightly uneven framing, Authentic share, slightly blurry, Amateur quality phone photo\n\n  If the dialogue is not provided by the user or you are explicitly asked to create it, generate a casual, conversational line under 150 characters, as if a person were speaking naturally to a friend while talking about the product. Avoid overly formal or sales-like language. The tone should feel authentic, spontaneous, and relatable, matching the UGC style. Use ... to indicate pauses, and avoid special characters like em dashes or hyphens.\n\n\n  A – Ask:\n    Generate **only video generation instructions** for AI models (no image prompts). Infer aspect ratios from vertical\/horizontal context; default to vertical if unspecified.\n\n    **Scene count rule:**  \n    - Read the user's requested total video duration and the per-video length (in seconds).  \n    - Calculate the required number of videos by dividing total duration by per-video length, rounding **up** to the nearest integer.  \n    - Output **exactly that many scenes**.  \n    - Never output more or fewer scenes than requested.\n\n  G – Guidance:\n    - Always follow UGC-style casual realism principles listed above.\n    - Ensure diversity in gender, ethnicity, and hair color when applicable. Default to actors in 21 to 38 years old unless specified otherwise.\n    - Use provided scene list when available.\n    - Do not use double quotes in any part of the prompts.\n\n  E – Examples:\n    good_examples:\n      - |\n        {\n          \"scenes\": [\n            {\n              \"video_prompt\": \"dialogue: so tikTok made me buy this... honestly its the best tasting fruit beer in sydney and they donate profits to charity...naction: character sits in drivers seat of a parked car, holding the beer can casually while speakingncamera: amateur iphone selfie video, uneven framing, natural daylightnemotion: very happy, casual excitementntype: veo3_fast\",\n              \"aspect_ratio_video\": \"9:16\",\n              \"model\": \"veo3_fast\"\n            }\n          ]\n        }\n\n  N – Notation:\n    - Final output is a `\"scenes\"` array at the root level.\n    - The array must contain **exactly `scene_count`** objects, where `scene_count` is the user-calculated number.\n    - Each scene contains:\n      - `video_prompt` → stringified YAML with: dialogue, emotion, voice_type, action, character, setting, camera\n      - `aspect_ratio_video` → \"9:16\" or \"16:9\" (default vertical → 9:16)\n      - `model` → \"veo3\" or \"veo3_fast\"\n\n  T – Tools:\n    - Think Tool: Double-check output for completeness, diversity, adherence to style, and that the number of scenes exactly matches the requested count.\n"
                }
            },
            "type": "@n8n\/n8n-nodes-langchain.agent",
            "typeVersion": 2,
            "position": [
                7744,
                4016
            ],
            "id": "eb32cb52-2148-4a4e-aff9-ad17fc3990ad",
            "name": "Generate Video"
        },
        {
            "parameters": {
                "formTitle": "UGC ad",
                "formFields": {
                    "values": [
                        {
                            "fieldLabel": "UGC Instruction"
                        },
                        {
                            "fieldLabel": "Images",
                            "fieldType": "file"
                        }
                    ]
                },
                "options": []
            },
            "type": "n8n-nodes-base.formTrigger",
            "typeVersion": 2.20000000000000017763568394002504646778106689453125,
            "position": [
                6032,
                4016
            ],
            "id": "23e24d92-4381-413c-9659-a7c9ed88b0f4",
            "name": "On form submission",
            "webhookId": "13389a90-8cba-439b-8925-12e7ea2f2818"
        },
        {
            "parameters": {
                "fieldToSplitOut": "=$binary",
                "include": "allOtherFields",
                "options": []
            },
            "type": "n8n-nodes-base.splitOut",
            "typeVersion": 1,
            "position": [
                6144,
                4016
            ],
            "id": "6511bd42-18cb-45aa-9527-a5088d3d9c1c",
            "name": "Split Out"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https:\/\/api.wavespeed.ai\/api\/v3\/wavespeed-ai\/flux-kontext-dev\/multi",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application\/json"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer <API>"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "raw",
                "rawContentType": "application\/json",
                "body": "={\n  \"enable_base64_output\": false,\n  \"enable_safety_checker\": true,\n  \"enable_sync_mode\": false,\n  \"guidance_scale\": 1,\n  \"images\": [\n    \"{{ $json.images[0] }}\",\n    \"{{ $json.images[1] }}\"\n  ],\n  \"num_images\": 1,\n  \"num_inference_steps\": 28,\n  \"output_format\": \"jpeg\",\n  \"prompt\": \"Combine the images without changing the original image identity.\",\n  \"seed\": -1\n}\n",
                "options": []
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.20000000000000017763568394002504646778106689453125,
            "position": [
                6928,
                4016
            ],
            "id": "d2d9f335-6cc8-42fc-8db6-9511ec6f594b",
            "name": "HTTP Request"
        },
        {
            "parameters": {
                "amount": 20
            },
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.100000000000000088817841970012523233890533447265625,
            "position": [
                7040,
                4016
            ],
            "id": "0fc42bc8-a5f6-41fa-945c-693dc5b9358b",
            "name": "Wait",
            "webhookId": "3aecddf8-b59f-4122-8511-d98881c4f3e5"
        },
        {
            "parameters": {
                "url": "=https:\/\/api.wavespeed.ai\/api\/v3\/predictions\/{{ $json.data.id }}\/result",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer <API>"
                        }
                    ]
                },
                "options": []
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.20000000000000017763568394002504646778106689453125,
            "position": [
                7152,
                4016
            ],
            "id": "66a116ad-8252-4710-9acc-7ec01f316a76",
            "name": "HTTP Request1"
        },
        {
            "parameters": {
                "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const videoUrl = item.json.video?.url || item.json.url || '';\n  const fileName = item.json.video?.file_name || item.json.file_name || 'video.mp4';\n  const fileSize = item.json.video?.file_size || item.json.file_size || 0;\n  const contentType = item.json.video?.content_type || item.json.content_type || 'video\/mp4';\n  const metadata = item.json.metadata || {};\n  \n  \/\/ Create preview HTML\n  const videoPreviewHtml = `\n    <video width=\"720\" height=\"1280\" controls autoplay muted>\n      <source src=\"${videoUrl}\" type=\"${contentType}\">\n      Your browser does not support the video tag.\n    <\/video>\n  `;\n  \n  \/\/ Create embed HTML\n  const embedHtml = `\n    <div style=\"position:relative; width:100%; max-width:720px;\">\n      <video style=\"width:100%; height:auto;\" controls>\n        <source src=\"${videoUrl}\" type=\"${contentType}\">\n      <\/video>\n    <\/div>\n  `;\n  \n  \/\/ Create markdown format\n  const markdownLink = `[View Video: ${fileName}](${videoUrl})`;\n  \n  \/\/ Create download link\n  const downloadLink = `<a href=\"${videoUrl}\" download=\"${fileName}\">Download Video<\/a>`;\n  \n  return {\n    json: {\n      \/\/ Video information\n      videoUrl: videoUrl,\n      fileName: fileName,\n      fileSize: fileSize,\n      contentType: contentType,\n      \n      \/\/ Metadata\n      fps: metadata.final_fps || 24,\n      width: metadata.final_width || 720,\n      height: metadata.final_height || 1280,\n      duration: metadata.total_duration || 0,\n      hasAudio: metadata.has_audio || true,\n      \n      \/\/ Various output formats\n      previewHtml: videoPreviewHtml,\n      embedHtml: embedHtml,\n      markdownLink: markdownLink,\n      downloadLink: downloadLink,\n      \n      \/\/ Direct preview URL (for some platforms)\n      directPreviewUrl: videoUrl,\n      \n      \/\/ Thumbnail URL (if you want to generate one)\n      thumbnailUrl: videoUrl.replace('.mp4', '_thumb.jpg'),\n      \n      \/\/ Share URLs\n      shareableUrl: videoUrl,\n      \n      \/\/ Full response (in case you need other data)\n      fullResponse: item.json\n    }\n  };\n});"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                8528,
                3984
            ],
            "id": "c41558ca-f21e-461b-85d7-da5f4cf46d24",
            "name": "Code1"
        },
        {
            "parameters": {
                "content": "# Input:\n",
                "height": 224,
                "width": 1360,
                "color": 7
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                6016,
                3872
            ],
            "id": "84692648-50bb-4493-9686-c4bd8fcc5aef",
            "name": "Sticky Note"
        },
        {
            "parameters": {
                "content": "# Output:\n",
                "height": 224,
                "width": 512,
                "color": 7
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                8464,
                3904
            ],
            "id": "2363a6d9-f032-4ff0-9ef9-2b5edc5a0833",
            "name": "Sticky Note1"
        },
        {
            "parameters": {
                "url": "={{ $json.videoUrl }}",
                "options": []
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.20000000000000017763568394002504646778106689453125,
            "position": [
                8672,
                3984
            ],
            "id": "ce2e7907-8f7f-45bc-8f89-d1e72d6e334f",
            "name": "HTTP Request2"
        },
        {
            "parameters": {
                "jsCode": "const output = [];\nfor (const currentItem of items) {\n  const binaryKeys = Object.keys(currentItem.binary || {});\n  \n  for (const key of binaryKeys) {\n    output.push({\n      binary: {\n        product_image: currentItem.binary[key]\n      },\n      json: {\n        original_field: key,\n        \/\/ Access UGC Instruction from the current item's JSON data\n        ugcInstruction: currentItem.json[\"UGC Instruction\"] || null,\n        \/\/ Include all form data if needed\n        formData: {\n          instruction: currentItem.json[\"UGC Instruction\"] || null,\n          submittedAt: currentItem.json.submittedAt || null,\n          formMode: currentItem.json.formMode || null\n        }\n      }\n    });\n  }\n}\nreturn output;"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                6256,
                4016
            ],
            "id": "b23f7692-efec-47bd-9030-d692e0573470",
            "name": "Code2"
        },
        {
            "parameters": {
                "path": "=\/{{ $binary[\"product_image\"].fileName.replace(\/s+\/g, \"_\") }}",
                "binaryData": true,
                "binaryPropertyName": "=product_image"
            },
            "type": "n8n-nodes-base.dropbox",
            "typeVersion": 1,
            "position": [
                6368,
                4016
            ],
            "id": "be6dc2e6-c003-4aa5-b6e5-3dd40cee20bd",
            "name": "Upload a file",
            "credentials": {
                "dropboxApi": {
                    "id": "hNBp9cq77LnC05BW",
                    "name": "virtual drop box"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https:\/\/api.dropboxapi.com\/2\/sharing\/create_shared_link_with_settings",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer <API>"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application\/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"path\": \"{{ $('Upload a file').item.json.path_display }}\",\n  \"settings\": {\n    \"requested_visibility\": \"public\"\n  }\n}",
                "options": []
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.20000000000000017763568394002504646778106689453125,
            "position": [
                6704,
                4016
            ],
            "id": "85b4a11e-8daa-4f5d-a555-aded9dbfff34",
            "name": "HTTP Request6"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "f40d86ba-285c-4893-9bc7-c2168a46ef8d",
                            "leftValue": "={{$json[\"links\"].length}}",
                            "rightValue": 0,
                            "operator": {
                                "type": "number",
                                "operation": "gt"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": []
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.20000000000000017763568394002504646778106689453125,
            "position": [
                6592,
                4016
            ],
            "id": "4d00acaf-31fb-4e18-9479-ed9a0ac8ff4e",
            "name": "If"
        },
        {
            "parameters": {
                "jsCode": "\/\/ Collect all image URLs from all items\nconst imageUrls = [];\n\nfor (const item of items) {\n  \/\/ pull url from whichever shape we got\n  const link = \n    item.json.url                       \/\/ returned by create_shared_link_with_settings\n    ?? item.json.links?.[0]?.url;       \/\/ returned by list_shared_links\n  \n  if (link) {\n    const directUrl = link\n      \/\/ turn \"dl=0\" into a direct link\n      .replace(\"?dl=0\", \"?raw=1\")\n      .replace(\"&dl=0\", \"&raw=1\");\n    \n    imageUrls.push(directUrl);\n  }\n}\n\n\/\/ Return single item with array of all URLs\nreturn [{\n  json: { \n    images: imageUrls,  \/\/ This creates the array you need\n    total_images: imageUrls.length\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                6816,
                4016
            ],
            "id": "ebe23f32-7dcd-4452-9397-940699ad6873",
            "name": "Code7"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https:\/\/api.dropboxapi.com\/2\/sharing\/list_shared_links",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer <API>"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application\/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"path\": \"{{ $('Upload a file').item.json.path_display }}\",\n  \"direct_only\": true\n}",
                "options": []
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.20000000000000017763568394002504646778106689453125,
            "position": [
                6480,
                4016
            ],
            "id": "7e120423-426f-4563-8cd0-c0f8276784bc",
            "name": "HTTP Request4"
        }
    ],
    "pinData": [],
    "connections": {
        "Think1": {
            "ai_tool": [
                [
                    {
                        "node": "Generate Video",
                        "type": "ai_tool",
                        "index": 0
                    },
                    {
                        "node": "Generate Image",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "GPT1": {
            "ai_languageModel": [
                [
                    {
                        "node": "Generate Video",
                        "type": "ai_languageModel",
                        "index": 0
                    },
                    {
                        "node": "Generate Image",
                        "type": "ai_languageModel",
                        "index": 0
                    },
                    {
                        "node": "Structured Output ",
                        "type": "ai_languageModel",
                        "index": 0
                    },
                    {
                        "node": "Structured Output 3",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Out1": {
            "main": [
                [
                    {
                        "node": "Create Video1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Video1": {
            "main": [
                [
                    {
                        "node": "Wait ",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Video1": {
            "main": [
                [
                    {
                        "node": "Aggregate1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait ": {
            "main": [
                [
                    {
                        "node": "Get Video1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait 4": {
            "main": [
                [
                    {
                        "node": "Get Image1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If 1": {
            "main": [
                [
                    {
                        "node": "Generate Video",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Wait 4",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Aggregate1": {
            "main": [
                [
                    {
                        "node": "Combine Clips1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait1": {
            "main": [
                [
                    {
                        "node": "Get Final Video1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Describe Img1": {
            "main": [
                [
                    {
                        "node": "Generate Image",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Structured Output ": {
            "ai_outputParser": [
                [
                    {
                        "node": "Generate Video",
                        "type": "ai_outputParser",
                        "index": 0
                    }
                ]
            ]
        },
        "Structured Output 3": {
            "ai_outputParser": [
                [
                    {
                        "node": "Generate Image",
                        "type": "ai_outputParser",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Image1": {
            "main": [
                [
                    {
                        "node": "Wait 4",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Image1": {
            "main": [
                [
                    {
                        "node": "If 1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Combine Clips1": {
            "main": [
                [
                    {
                        "node": "Wait1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Final Video1": {
            "main": [
                [
                    {
                        "node": "If 3",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If 3": {
            "main": [
                [
                    {
                        "node": "Code1",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Wait1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Image": {
            "main": [
                [
                    {
                        "node": "Create Image1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Video": {
            "main": [
                [
                    {
                        "node": "Split Out1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "On form submission": {
            "main": [
                [
                    {
                        "node": "Split Out",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Out": {
            "main": [
                [
                    {
                        "node": "Code2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTTP Request": {
            "main": [
                [
                    {
                        "node": "Wait",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait": {
            "main": [
                [
                    {
                        "node": "HTTP Request1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTTP Request1": {
            "main": [
                [
                    {
                        "node": "Describe Img1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code1": {
            "main": [
                [
                    {
                        "node": "HTTP Request2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code2": {
            "main": [
                [
                    {
                        "node": "Upload a file",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upload a file": {
            "main": [
                [
                    {
                        "node": "HTTP Request4",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTTP Request6": {
            "main": [
                [
                    {
                        "node": "Code7",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If": {
            "main": [
                [],
                [
                    {
                        "node": "HTTP Request6",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code7": {
            "main": [
                [
                    {
                        "node": "HTTP Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTTP Request4": {
            "main": [
                [
                    {
                        "node": "If",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "e87946ae-7635-4ae7-a787-7c3900612939",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "28dce675ee27a1064072e27c15b9f206e3cb763ee136d0c0334d042fdcdc426f"
    },
    "id": "3KZc3yjMGrd3qkbx",
    "tags": []
}